@use './global/index'as global;

.page-title.page-title--contact {
  height: 320px;
  background-image: url(../images/contact/contact-title.png);
  background-position: center;
}

// ------------------------------------------------
// contact-about
// ------------------------------------------------
.contact-about {
  margin: 120px auto 140px;
  font-family: global.$second-font-family;

  // <!-- tab style -->
  @include global.mq(tab) {
    width: 96%;
  }

  // <!-- sp style -->
  @include global.mq(sp) {
    padding: 0 20px;
    margin-top: 60px;
  }
}

.contact-about__title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.2;
}

.contact-about__text {
  font-size: 1.6rem;
  line-height: 1.4;
  max-width: 928px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}


// ------------------------------------------------
// contact-content
// ------------------------------------------------
.contact-content {
  padding-bottom: 74px;

  // <!-- tab style -->
  @include global.mq(tab) {
    width: 96%;
    margin: 0 auto;
  }
}

.contact-table {
  width: 100%;

  th,
  td,
  textarea {
    width: 100%;
    display: block;
  }

  th {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .required {
    font-size: 1.4rem;
    color: global.$red;
  }

  td {
    margin-bottom: 16px;
  }

  input,
  textarea {
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    padding: 8px 16px;
    width: 100%;
  }

  textarea {
    height: 200px;
  }

  ::placeholder {
    font-size: 1.6rem;
    color: #646464;
  }
}

.privacy-content {
  text-align: center;

  .privacy-item {
    margin: 3rem 0;
    position: relative;
    background-color: #fff;
    color: #666;
    border: 1px solid #ccc;
    text-align: left;

    dt {
      margin-bottom: 24px;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(241,241,241,.5);
  }

  .overlay-text {
    padding: 1rem;
    border: 1px solid #b1b1b1;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    cursor: pointer;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #666666;
  }
  
  .scroll {
    height: 200px;
    padding: 2rem;
    overflow: auto;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  input {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .radio_text {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.button-wrap {
  text-align: center;
  margin-top: 56px;

  .btn-send {
    position: relative;
    display: inline-block;
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 64px;
    transform: translateY(-50%);
  }

  .more-info-button--cta {
    margin-bottom: 0;
    padding: 20px 0;
  }
}



// ------------------------------------------------
// contact cat
// ------------------------------------------------
.contact-cta {
  background: #F4F4F4;
  align-items: center;

  // <!-- tab style -->
  @include global.mq(tab) {
    align-items: stretch;
  }

  .main-cta__text-part {
    width: 61vw;
    text-align: center;
    padding: 0;

    // <!-- tab style -->
    @include global.mq(tab) {
      padding: 40px 0;
      width: 100vw;
    }

    .main-cta__heading {
      position: relative;
      display: inline-block;
      z-index: 3;

      span {
        position: absolute;
        left: -10px;
        bottom: -13px;
        z-index: -1;
      }
    }

    .main-cta__contact-unit {
      img {
        width: 36px;
        height: 36px;
        vertical-align: middle;
      }

      .main-cta__tel {
        font-size: 3.6rem;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: 0.1rem;

        span {
          margin-right: 32px;
        }
      }

      .main-cta__fax {
        font-weight: 500;
        letter-spacing: 0.1rem;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .main-cta__contact-text {
    font-size: 1.6rem;
    color: global.$black;
    margin: 22px auto 12px;
  }

  .main-cta__img {
    width: 39vw;

    // <!-- tab style -->
    @include global.mq(tab) {
      width: 100vw;
    }
  }
}