// ------------------------------------------------
// color
// ------------------------------------------------
$black: #333333;
$white: #fff;
$off-white: #FAFAFA;
$red: #D1121B;
$lightgray: #E4E4E4;
$gray: #525759;
$lightgray: #cccccc;
$background-gray: #F4F4F4;
$section-title-gray: rgb(211, 211, 211, 0.8);
$card-border-gray: #A9A9A9;

$lightblue: #0071FF;

// ------------------------------------------------
// font
// ------------------------------------------------

$default-font-family: 'Noto Sans JP';
$second-font-family: 'Noto Sans CJK JP';
$section-font-family: 'Montserrat';
$default-font-size: 1.2rem;
$default-line-height: 1.5em;



// ------------------------------------------------
// value
// ------------------------------------------------
$content-max-width: 1360px;
$content-horizontal-padding: 40px;
$about-max-width: 600px;
$company-max-width: 600px;
$product-detail-width: 800px;
$breakpoint: 900px;
