@use '../global/index' as global;

.mb120 {
  margin-bottom: 120px;
}

.mb56 {
  margin-bottom: 56px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb32 {
  margin-bottom: 32px;
}

.mr32 {
  margin-right: 32px;
}