@use '../global/index' as global;

.wrapper-w1088 {
  max-width: 1088px;
  margin: 0 auto;
}

.wrapper-w1290 {
  max-width: 1290px;
  margin: 0 auto;
}
.wrapper-w814 {
  max-width: 814px;
  margin: 0 auto;
}
.wrapper-w242 {
  max-width: 242px;
  margin: 0 auto;
  // <!-- tab style -->
  @include global.mq(sp) {
    display: none;
  }
}
